*{
    max-width: 1440px;
    margin: 0px auto auto auto;
    padding: 0px;
    font-family: 'inter';
}
#menu-superior{
    max-width: 100%;
    max-height:475px;
    padding-top: 50px;
    background-color:#303030;
    padding-bottom: 100px;
}
#titulo-menu-superior{
    max-width: 1024px;
    padding-top: 100px;
    text-align: center;
    color:#ffffff;
    margin-top: 0px; 
    margin-left: 50px;
    font-size: 45px;
}
#menu-superior p{
    margin-left: 180px;
    color:#ffffff
}
#indicadores{
    width: 100%;
    height: 229px;
    background-color: #F9F9F9;
    grid-auto-flow: column;
    columns: auto;
    display: flex;
}
.titulos-indicadores{
    margin-top:90px;
    margin-right: 0px;
    align-items: center;
}
.p-indicadores{
    margin-left: 0px;
    align-items: center;

}
#experiencia{
    width: 100%;
    height: 700px;
    grid-auto-flow: column;
    columns: auto;
    display: flex;
}
#titulo-experiencia{
    width: 600px;
    margin: 205px auto auto 40px;
}
#paragrafo-experiencia{
    width: 600px;
    margin: auto auto auto 40px;
    text-align: justify;
}
#informativo-imagem:hover{
    transition-duration:6.0s;
}
#imagem-portifolio{
    width: 510px;
    height: 605px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    float:left;
}
#imagem-portifolio:hover{
    transition-duration:6.0s;
}
#formulario{
width: 100%;
height: 638px;
background-color: #303030;

}
#titulo-formulario{
    color: #F9F9F9;
    padding-top: 80px;
    text-align: center;
}
form{
    margin-top: 100px;
    margin-left: 350px;
}
.inputs{
    width: 508px;
    height: 62px;
    margin-left: 100px;
    border-radius: 10px;
    font-size: 23px;
    padding: 10px;
}
#btn-form{
    width: 508px;
    height: 62px;
    margin-left: 110px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 25px;
    background-color: #C07212;
    font-size: 23px;
    color: #ffffff;
    cursor: pointer;
}
#btn-form:hover{
    background-color: #875314;
    transform: translateY(-10px);
    transition-duration: 0.5s;
    box-shadow: 0px 10px 15px #d4dde179;
}
